﻿<div id="fullPageGiftLits">
		<div id="giftListContainer">
			<table id="giftsTable" class="tablesorter">
			  <thead>
				<tr>
				  <th data-filter="false">Nagroda</th>
				  <th>Wartość</th>
				  <th>Premiowane miejsca</th>
				</tr>
			  </thead>
			  <tbody id="giftsTableBody">

			  </tbody>
			</table>
		</div>
    <div id="filterGiftsList">
        <span class="text">Wybrana pozycja:</span>
        <div class="playerPosition">
            <input id="choosenPosition" type="number" min="1" />
        </div>
        <div class="showGifts">
            <a id="showGifts" class="buttonVisible" href="#"><span class="button">Pokaż nagrody</span></a>
            <a id="reset" class="buttonInvisible" href="#"><span class="button">Wszystkie nagrody</span></a>
            <!--<button>Pokaż nagrody</button>-->
        </div>
    </div>
	</div>
