﻿
	<div id="tourney_fullPageRanking">
		<div id="tourney_rankingContainer">
			<table id="tourney_rankingTable" class="tablesorter">
			  <thead>
				<tr>
				  <th>Miejsce</th>
				  <th>Nick</th>
				  <th>Punkty</th>
				  <th>Zobacz nagrodę</th>
				</tr>
			  </thead>
			  <tbody id="tourney_rankingTableBody">

			  </tbody>
			</table>
		</div>
	</div>
