﻿@font-face {
    font-family: 'CosmicTwo';
    src: url('../assets/fonts/CosmicTwo.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Candara';
    src: url('../assets/fonts/Candara.ttf');
    font-weight: 400;
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #000000;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    border: none;
}

body, html {
    height: 100%;
    width: 100%;
}

.workarround {
    font-family: CosmicTwo;
    position: absolute;
    left: -10000px;
}

.workarround2 {
    font-family: Candara;
    position: absolute;
    left: -3000px;
}

#message {
    position: absolute;
    left: 0;
    right: 0;
    width: 55%;
    top: 3%;
    font-family: CosmicTwo;
    margin: 0 auto;
    visibility: hidden;
    max-height: 85%;
    color: black;
}

    #message h2 {
        margin-bottom: 20px;
    }


    #game-window{
        position: absolute;
        top: 0;
        left: 0;
     
    }

#content {
   width: 100%;
    height:100%;
}

