body{
	font-family: 'CosmicTwo';
}
::-webkit-scrollbar{
	width: 0px;
}
#rules_container{
	background-image: url('../assets/bg_zasady.png');
	background-size: cover;
	background-repeat: no-repeat;
	 width: 100%;
     height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#rules_container .rules{
    position: relative;
    width: 70%;
    min-width: 250px;
    height: 90%;
    margin: 0 auto;
    padding-top: -15px;
	text-align: center;
	color: white;
}

/**
* Next\Prev buttons
*/
#rules_container .prev_button,
#rules_container .next_button{
	position: absolute;
	top: 50%;
    -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
}
#rules_container .prev_button{
	left: 0;
	padding: 5px;
}
#rules_container .next_button{
	right: 0;
	padding: 5px;
}
/**
* Content
*/
.rules header{
	font-size: 36px;
	margin: 20px 0;
}
.rules article{
    position: relative;
    top: 0;

    text-align: center;
}
.rules article p {
	padding: 5px 0;
}

/**
* Return button
*/
a#return{
	position: absolute;
	top: 0px;
	left: 0;
	padding: 10px;
    width: 11%
}
a#return img{

}