body{

}

#fullPage{	
    margin: 0;
	background: url('../assets/bg.jpg');


	font-family: 'CosmicTwo';
 width: 100%;
     height: 100%;
    	color: #8aae71;
}
.logo{
	position: relative;
	display: block;
}
.logo img{
	top: 5px;
	margin: 0 auto;
	display: block;
	padding: 15px;


}




.container_login{
	width: 100%;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
    text-align:center;
}
ul.tabs li{
	background: none;
	color: #8aae71;
	display: inline-block;
	cursor: pointer;
	width: 29%;
	text-align: center;
	font-size: 20px;
}

ul.tabs li.current{
	color: white;
}
ul.tabs li:after{
	content: "";
    width: 93%;
	height: 15px;
	background-size: contain;
    top: 0px;
    left: 0px;
    position: relative;
    display: inline-block;
}

ul.tabs li:after{
	background-size: contain !important;
}
ul.tabs li.login:after{
	background: url("../assets/l_1.png") no-repeat;
}
ul.tabs li.register:after{
	background: url("../assets/l_2.png") no-repeat;
}
ul.tabs li.current:after{
	background-size: cover !important;
	height: 30px;
}
ul.tabs li.login.current:after{
	background: url("../assets/l_1_active.png") no-repeat;
}
ul.tabs li.register.current:after{
	background: url("../assets/l_2_active.png") no-repeat;
}

.tab-content{
	display: none;
	background: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

/**
*  FORM
* STYLING
*/
input.email_nick,
input.passwd{


	height: 47px;
	display: block;
	margin: 30px auto 0px auto;
    padding: 0px 20px;
    line-height: 16px;
    font-size: 20px;
	vertical-align: middle;
	background: none;
	border: none;
	color: #749f4e;
      font-family: 'Open Sans', sans-serif;
}
#register .email_nick,
#register  input.passwd{

	margin: 10px auto 0px auto;
      font-family: 'Open Sans', sans-serif;
    
}

input.email_nick{
	background: url('../assets/mail.png') no-repeat;
	background-size: contain;
}
input.passwd{
	background: url('../assets/haslo.png') no-repeat;
	background-size: contain;
}

button.submit{
	background: none;
	border: none;

	margin: 25px auto;
	display: block;
}
button.submit img{
	width: 100%;
}

label#email_nick-error,
label#passwd-error{

	color: white;
	display: block;
	text-align: center;
}

.login_page footer{
    text-align: justify;
    width: 80%;
    margin: 0 auto;
	display: block;
}

.login_page .return{
    text-align: center;
   color:white;
   font-size: 170%;
   position:absolute;
   left: 0px;
   right:0px;
   top:90%;
}

.login_page span{
    text-align: center;
    width: 90%;
    margin: 0 auto;
	display: block;
}

#register input[type=checkbox] {
    margin: 5px;
}

#registerTicks {
    text-align: center;
    margin: 10px;
}