
#loader{	
    margin: 0;
	background: url('assets/bg.jpg');
	background-size: cover;

	font-family: 'CosmicTwo';
	width: 100vw;
	height: 100vh;
    	color: #8aae71;
        position: absolute;
        top:0;
        left:0;

        background-position: center; 
}





.container{
	width: 100%;
}

#loader footer {
position:absolute;
bottom: 4%;
left:0;
right:0;
margin: 0 auto;
}

#loader #play{
	background: none;
	border: none;
	width: 80%;
	margin: 10px auto;
	display: block;
}
#loader .play img{
	width: 100%;
}

#loader #status {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: block;
}

#loader .news .header {
    margin: 10px;
}

#loader .news{
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    text-align: center;
    width: 80%;
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    color: white;

    top: 45%;
}

