﻿body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 130%;
}

ul {
    list-style-type:none;
}


.hcn0 {
font-size: 150%;
color: blue;
}

.hcn20 {
font-size: 170%;
color: green;
}

.hcn40 {
font-size: 200%;
color: blue;
}