
button.volumeAdjust{


}


button.volumeAdjust {
  position: absolute;
  background: transparent;
  color: #fff;
  border: none;
  opacity: 1;
       font-size: 21px; 
    font-weight: bold; 
    line-height: 1; 
     text-shadow: 0 1px 0 #fff; 
}
button.volumeAdjust i {
  -webkit-transition: 0.4s all ease;
          transition: 0.4s all ease;
  opacity: 0.5;
}
button.volumeAdjust:hover i {
  opacity: 1;
}
button.volumeAdjust:focus {
  outline: none;
}
button.volumeAdjust {
  top: 14px;
  right: 46px;
}