@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,900&subset=latin,latin-ext');
@import url('pnotify.custom.min.css');
// @import url('jplist.core.min.css');
@import 'snippets';
@import 'variables';

//***************************
// Body
//***************************

@font-face {
    font-family: BentonSans;
    src: url('../fonts/BentonSansRegular.otf');
}

@font-face {
    font-family: BentonSans;
    src: url('../fonts/BentonSansBold.otf');
    font-weight: bold;
}

@media screen  and (max-width: 1023px) {
	html {
		width: 1400px;
	}
}

body {
	font-size: 15px;
	font-family: BentonSans, sans-serif;

}

.container {
	padding: 0;
	width: 1368px;
	max-width: none !important;
}

strong {
	font-weight: bold;
}

@media screen and (min-width: 1024px) and (max-width: 1377px) {
	.container {
		width: 1000px;
	}
} 

a {
	color: #000;
	transition: $transition;
	&:hover {
		color: #666;
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

.amount {
	font-size: 12px;
	text-align: center;
}

.progress {
	height: 5px;
	background-image: none;
	background-color: #e8f1ef;
	box-shadow: none;
	.progress-bar {
		background-image: none !important;
		background-color: #35ffc8;
	}
}

#content {
	margin-top: 55px;
}

//***************************
// Imports
//***************************

@import 'navbar';

@import 'footer';

@import 'slider';

.homepage {
	@import 'homepage';
}

.poczekalnia {
	@import 'poczekalnia';
}

.single {
	@import 'single';
}

.game-single {
	@import 'game-single';
}

.tournament-single {
	@import 'tournament-single';
}

.tournament-list {
	@import 'tournament-list';
}

.ended-tournaments {
	@import 'ended-tournaments';
}

.game {
	@import 'game';
}