#game-window #output-box{
    display: none;
    position: absolute;
    width: 500px;
    height: 100px;
    bottom: 0;
    left: 150px;
    overflow: hidden;
    background: rgba(0,0,0,0.35);
    color: white;
    border: none;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #ac5561;
}

.panel-body{
    padding: 15px;
    max-height: 100px;
    overflow: auto;
}

.panel-body a {
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-shadow: 1px 1px 0px #000;
}

.panel-body a:hover {
    color: #fff;
}