﻿<div id="fullPageRanking">
   
    <div id="rankingContainer">
        <table id="rankingTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Pozycja</th>
                    <th>Nick</th>
                    <th>Poziom</th>
                    <th>Respekt</th>
                    <th>Rekord</th>
                </tr>
            </thead>
            
            <tbody id="rankingTableBody"></tbody>
        </table>
    </div>
</div>
