
#fullPageRanking {
    font: 20px/26px 'CosmicTwo';
    background: url('../assets/bg.png');
    background-size: cover;
    color: #8aae71;
       width: 100%;
    height:100%;
    top: 0px;
    position: relative;
    margin: 0 auto;
    font-size: 90%;
}

#rankingContainer {
    color: #8aae71;
        height: 90%;
    top: 3%;
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
}

#rankingTable {
    margin: 0 auto;
    top: 0px;
    position: relative;
        width: 90%;
}

td,
th {
    text-align: center;
}

#rankingTable tr:nth-child(even) {
    background-color: rgba(255,255,255,0.05);
}

td li {
    list-style: none;
}

    td li#cmentarz:before {
        content: url('../assets/cmentarz_icon.png');
    }

    td li#szpital:before {
        content: url('../assets/szpital_icon.png');
    }

    td li#komisariat:before {
        content: url('../assets/komisariat_icon.png');
    }

     td li#online:before {
        content: url('../assets/online.png');
        vertical-align: -13%;
    }

    td li#offline:before {
        content: url('../assets/offline.png');
        vertical-align: -13%;
    }

    td li#ingame:before {
        content: url('../assets/ingame.png');
        vertical-align: -13%;
    }

    td li:before {
        margin-right: 10px;
        vertical-align: -25%;
    }





/**
* TableSorter
* jQuery plugin
*/
/*************
Default Theme
*************/
/* overall */
.tablesorter-default {
    width: 100%;
    min-width: 400px;
    color: white;
    background-color: rgba(0,0,0,0);
    border-spacing: 0;
    margin: 10px 0 15px;
    text-align: left;
}

    /* header */
    .tablesorter-default th,
    .tablesorter-default thead td {
        font-weight: bold;
        color: white;
        background-color: rgba(0,0,0,0);
        border-collapse: collapse;
        border-bottom: #ccc 2px dashed;
        padding: 0;
    }

    .tablesorter-default tfoot th,
    .tablesorter-default tfoot td {
        border: 0;
    }

    .tablesorter-default .header,
    .tablesorter-default .tablesorter-header {
        /*background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);*/
        background-image: url('../assets/white-unsorted.png');
        background-position: center right;
        background-repeat: no-repeat;
        cursor: pointer;
        white-space: normal;
        padding: 4px 20px 4px 4px;
    }

    .tablesorter-default thead .headerSortUp,
    .tablesorter-default thead .tablesorter-headerSortUp,
    .tablesorter-default thead .tablesorter-headerAsc {
        background-image: url('../assets/white-asc.png');
        /*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);*/
        border-bottom: #000 2px solid;
    }

    .tablesorter-default thead .headerSortDown,
    .tablesorter-default thead .tablesorter-headerSortDown,
    .tablesorter-default thead .tablesorter-headerDesc {
        background-image: url('../assets/white-desc.png');
        /*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);*/
        border-bottom: #000 2px solid;
    }

    .tablesorter-default thead .sorter-false {
        background-image: none;
        cursor: default;
        padding: 4px;
    }

    /* tfoot */
    .tablesorter-default tfoot .tablesorter-headerSortUp,
    .tablesorter-default tfoot .tablesorter-headerSortDown,
    .tablesorter-default tfoot .tablesorter-headerAsc,
    .tablesorter-default tfoot .tablesorter-headerDesc {
        border-top: #000 2px solid;
    }

    /* tbody */
    .tablesorter-default td {
        background-color: rgba(0,0,0,0);
        /*border-bottom: #ccc 1px dashed;*/
        border-right: #ccc 1px dashed;
        padding: 4px;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 225px;
        overflow: hidden;
    }

        .tablesorter-default td:last-child {
            border-right: none;
        }
    /* hovered row colors */
    .tablesorter-default tbody > tr.hover > td,
    .tablesorter-default tbody > tr:hover > td,
    .tablesorter-default tbody > tr.even:hover > td,
    .tablesorter-default tbody > tr.odd:hover > td {
        background-color: #fff;
        color: #000;
    }

    /* table processing indicator */
    .tablesorter-default .tablesorter-processing {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        /* background-image: url(images/loading.gif) !important; */
        background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
    }

    /* Zebra Widget - row alternating colors */
    .tablesorter-default tr.odd > td {
        background-color: #dfdfdf;
    }

    .tablesorter-default tr.even > td {
        background-color: #efefef;
    }

    /* Column Widget - column sort colors */
    .tablesorter-default tr.odd td.primary {
        background-color: #bfbfbf;
    }

    .tablesorter-default td.primary,
    .tablesorter-default tr.even td.primary {
        background-color: #d9d9d9;
    }

    .tablesorter-default tr.odd td.secondary {
        background-color: #d9d9d9;
    }

    .tablesorter-default td.secondary,
    .tablesorter-default tr.even td.secondary {
        background-color: #e6e6e6;
    }

    .tablesorter-default tr.odd td.tertiary {
        background-color: #e6e6e6;
    }

    .tablesorter-default td.tertiary,
    .tablesorter-default tr.even td.tertiary {
        background-color: #f2f2f2;
    }

/* caption */
caption {
    background-color: #fff;
}

/* filter widget */
.tablesorter-default .tablesorter-filter-row {
    background-color: #eee;
}

    .tablesorter-default .tablesorter-filter-row td {
        background-color: #eee;
        border-bottom: #ccc 1px solid;
        line-height: normal;
        text-align: center; /* center the input */
        -webkit-transition: line-height 0.1s ease;
        -moz-transition: line-height 0.1s ease;
        -o-transition: line-height 0.1s ease;
        transition: line-height 0.1s ease;
    }
    /* optional disabled input styling */
    .tablesorter-default .tablesorter-filter-row .disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
        cursor: not-allowed;
    }
    /* hidden filter row */
    .tablesorter-default .tablesorter-filter-row.hideme td {
        /*** *********************************************** ***/
        /*** change this padding to modify the thickness     ***/
        /*** of the closed filter row (height = padding x 2) ***/
        padding: 2px;
        /*** *********************************************** ***/
        margin: 0;
        line-height: 0;
        cursor: pointer;
    }

    .tablesorter-default .tablesorter-filter-row.hideme * {
        height: 1px;
        min-height: 0;
        border: 0;
        padding: 0;
        margin: 0;
        /* don't use visibility: hidden because it disables tabbing */
        opacity: 0;
        filter: alpha(opacity=0);
    }
/* filters */
.tablesorter-default input.tablesorter-filter,
.tablesorter-default select.tablesorter-filter {
    width: 95%;
    height: auto;
    margin: 4px auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}
