﻿<div id="fullPage" class="login_page">
		<div class="logo">
			<img src="assets/logo.png"/>
		</div>

		<div class="container_login">

			<ul class="tabs">
				<li class="tab-link login current" data-tab="login">Zaloguj</li>
					<li class="tab-link register " data-tab="register">Zarejestruj się</li>
			</ul>

			<div id="login" class="tab-content current">
				<div id="loginForm">
					<input id ="email"class="email_nick" type="text" name="email_nick" placeholder="e-mail" />
					<input id="password" class="passwd" type="password" name="passwd" placeholder="Hasło" />
					<button id="submit" class="submit" ><img src="assets/button_zaloguj.png"/></button>
				</div>
				<footer>
                    <span id="status">
                        Zaloguj się przy użyciu konta HopHands, aby móc zapisywać wszystkie postępy w grze. Po zalogowaniu otrzymasz również dostęp do turniejów o nagrody oraz możliwość tworzenia własnych.
                    </span>
                    <span id="return" class="return">POWRÓT</span>
                        </footer>
			</div>

			<div id="register" class="tab-content">
                <div id="loginForm">
                    <input id="nick_r" class="email_nick" type="text" name="nick" placeholder="Nick" />
                    <input id="email_r" class="email_nick" type="text" name="email_nick" placeholder="E-mail" />
                    <input id="password_r" class="passwd" type="text" name="passwd" placeholder="Hasło" />
                    
                    <div style="margin: 10px;" id="registerTicks">
                        <label><input type="checkbox" id="rules">Potwierdzam, że zapoznałem się z <a id="rules_button">regulaminem</a> oraz akceptuję jego warunki</label><br /><br />
                        <label><input type="checkbox" id="newsletter">Zapisz się do newslettera, aby aktywnie uczestniczyć w budowaniu społeczności hophands</label>
                    </div>
                    <button id="submit_register" class="submit"><img src="assets/button_zarejestruj.png" /></button>
                </div>
                <footer>
                    <span id="status_register">
                      </span>
                    <span id="return_register" class="return">POWRÓT</span>
                </footer>
			</div>
		</div><!-- container -->
	</div>

