<div id="fullPageTourneyList">
		<div id="listContainer">
			<table id="listTable" class="tablesorter">
			  <thead>
				<tr>
				  <th>Tytuł</th>
				  <th>Wartość nagród</th>
				  <th>Koszt próby</th>
				  <th>Twoja pozycja</th>
				</tr>
			  </thead>
			  <tbody id="listTableBody">
		
			  </tbody>
			</table>
		</div>
	</div>


