

	<div id="rules_container">
		<div class="rules">
		
		
			
			<article id="rule_1" class="rule_content"></br></br>
            <header id="rule_header">Wprowadzenie</header>              
                Wciel się w postać Łowcy, który jako jeden z nielicznych ocalał z apokalipsy zombie. Ocalał, jednak nie wyszedł z zagłady bez szwanku. Został ugryziony przez zombie i zarażony wirusem T. Postępujące zakażenie wyniszcza organizm Zombie Huntera. By je zatrzymać, Łowca musi odnaleźć cudowne remedium. To jednak nie jest takie proste.
            <br /><br />    
            Na szczęście istnieje tymczasowe rozwiązanie. Regularne picie krwi zombie poprawia stan Łowcy, nigdy jednak nie doprowadzi do pełnego wyzdrowienia. Zakażenie wciąż postępuje. Nie zwlekaj, odkrywaj nowe siedliska zombie, spijaj ich krew i szukaj remedium, które pozwoli Ci wrócić do pełni zdrowia.
			</article>
			
			<article id="rule_2" class="rule_content"></br></br>
                <header id="rule_header"> Zasady rozgrywki</header>  
                Najlepszy Łowca kontroluje każde polowanie, skupiając się głównie na elementach zombie. Na jego drodze pojawiają się bowiem także niegroźne postacie. Nieumiejętne ruchy, za sprawą których ucierpią niewinni, skutkują utratą kolejno 2, 4, 8 i 16 sekund rozgrywki oraz punktów za całe obecne cięcie.
			</article>
			
            <article id="rule_3" class="rule_content">
                </br></br>
                <header id="rule_header">Punktacja</header>
                Przecięcie każdego z tzw. elementów zombie skutkuje przyznaniem określonej liczby punktów:</br>
                małe: 20 pkt</br>
                średnie: 15 pkt</br>
                duże: 10 pkt</br>
            </article>

            <article id="rule_4" class="rule_content">
                </br></br>
                <header id="rule_header">Rage Mode</header>
                W trakcie rozgrywki wypełniaj kufel krwią zombie. Naciśnij w ikonkę pełnego kufla i aktywuj specjalny tryb gry. Na ekranie pojawi się zwielokrotniona liczba wszystkich elementów. Co więcej, w tej wyjątkowej sytuacji nie musisz uważać na przecinane obiekty - żadne z nich nie odejmą Ci punktów.
            </article>

            <article id="rule_5" class="rule_content">
                </br></br>
                <header id="rule_header">Chill</header>
                Wypatruj zmrożonego mózgu! Jego przecięcie skutkuje zwolnieniem akcji i bezwzględnie ostrą bronią. Dzięki niej możesz przeciąć każdy element nie jeden, a nawet cztery razy! Co więcej, każde cięcie jest dodatkowo punktowane.
             </article>


            <article id="rule_6" class="rule_content">
                </br></br>
                <header id="rule_header">Trip Mode</header>       
                Będąc w szpitalu, uważaj na podejrzane fiolki. Po ich przecięciu Łowca zostaje odurzony substancjami chemicznymi. Obraz zaczyna niebezpiecznie falować i staje się lustrzanym odbiciem rzeczywistości (próbując przeciąć element po prawej stronie, tak naprawdę tniesz wszystko to, co znajduje się po lewej stronie). Wydaje się skomplikowane? Nie poddawaj się - każde udane cięcie przyniesie Ci 30 razy więcej punktów niż w standardowym trybie gry.    
             </article>

            <article id="rule_7" class="rule_content">
                </br></br>
                <header id="rule_header">COMBO</header>
                Idź w ilość! Dłuższe cięcie to większy bonus punktowy. Jednoczesne przecięcie:</br>
                dwóch elementów: +20%</br>
                trzech elementów: +30%</br>
                co najmniej czterech elementów: +50%</br>
                Dziesięć upolowanych elementów za sprawą jednego cięcia:<b> +200 pkt</b>
              </article>


            <article id="rule_8" class="rule_content">
                </br></br>
                <header id="rule_header">Logowanie</header>
                Zaloguj się za pomocą konta HopHands i korzystaj ze wszystkich funkcjonalności gry. Tylko zalogowani gracze mają możliwość rozwijania swojej postaci i odkrywania nowych siedlisk zombie. Logując się, dostajesz także dostęp do ekwipunku, dzięki któremu możesz się odpowiednio uzbroić przed każdą kolejną bitwą.
                <br /><br />
                W celu logowania przejdź do ekranu “Logowanie”. Nie posiadasz konta HopHands? Skorzystaj z darmowej i błyskawicznej rejestracji.
                <br /><br />
                Niezalogowani gracze mają dostęp jedynie do podstawowej wersji gry.
              </article>

            <article id="rule_9" class="rule_content">
                </br></br>
                <header id="rule_header">Mapy</header>
                Praktyka czyni mistrza. Zdobywaj doświadczenie i stopniowo zwiększaj swój poziom. Regularnie uczestnicz w rozgrywkach, wyzwaniach i turniejach, odkrywając kolejne miejsca na mapie.
                <br /><br />
                Do wszystkich map przypisane są bonusowe obiekty, które możesz zdobywać, polując na zombie.
            </article>

            <article id="rule_10" class="rule_content">
                </br></br>
                <header id="rule_header">Ekwipunek</header>
                Każdy Łowca ma swoją kryjówkę. Przechowuje w niej swoje największe skarby, które pomogą mu przetrwać apokalipsę zombie. Znajdziesz tu nie tylko podstawowe wyposażenie, ale wszystkie bonusowe obiekty, na które trafiłeś w ciągu całej gry.
                <br /><br />
                Zbieraj bonusowe obiekty biorąc udział w Turniejach i Wyzwaniach. Raz na jakiś czas bonusy mogą się pojawić w trakcie standardowej rozgrywki. Przetnij obiekt, a trafi on do Twojego ekwipunku.
            </article>

            <article id="rule_11" class="rule_content"></br>
                <header id="rule_header"> Wyzwania</header>
                Opcja dostępna dla wszystkich zalogowanych graczy. Występuje w dwóch formach: wyzwań wykonywanych samodzielnie i wspólnie, wraz z innymi graczami. Regularny udział w wyzwaniach to najszybszy sposób rozwoju postaci.
                <br /><br />
                Każda rozgrywka to kolejne punkty Respektu będące niezbędnym warunkiem uczestnictwa w wyzwaniu.
                <br /><br />
                Wyzwania odbywają się w różnych trybach i na różnych mapach. Każde zwycięstwo to specjalna nagroda i kolejne punkty Respektu, które możesz utracić w przypadku porażki.
            </article>


            <article id="rule_12" class="rule_content">
                </br></br>
                <header id="rule_header"> Turnieje</header>
                Płatne rozgrywki umożliwiające zdobywanie wysokiej wartości nagród rzeczowych i finansowych. Wśród turniejów znajdą się przede wszystkim te organizowane we współpracy ze Słoniem - pierwszy z nich już w kwietniu!
                <br /><br />
                Nie zapomnij zasilić swojego konta HopHands odpowiednią liczbą HCN i rozwijaj swoją postać. Poznaj bliżej Zombie Huntera i wejdź do gry dla prawdziwych Łowców niezapomnianych wrażeń.
            </article>

		</div>
		
		<a class="prev_button" id="prev_button" href="#"><img src="./assets/left.png"/></a>
		<a class="next_button" id="next_button" href="#"><img src="./assets/right.png"/></a>
	</div>
	<a id="return" href="#" action=""><img src="./assets/return.png" /></a>


